version: "2"
services:
  chaqer:
    image: turnerlabs/chaqer:0.1.8
    environment:
      REGION: "us-east-1"
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
      SUBSCRIPTION_KEY: "${SUBSCRIPTION_KEY}"
      AZURE_REGION: "${AZURE_REGION}"
      BUCKET: "${BUCKET}"
      FILE: "${FILE}"
    labels:
      composeToBatch.vcpus: "8"
      composeToBatch.memory: "200000"
